.top-bar {
  padding: 10px;
  background: #5a5a5a;
  color: white;
  font-size: 14px;
  padding-left: 40px;
}
.top-bar .btn {
  margin-left: 10px;
  color: black;
}
.top-bar .description {
  font-size: 14px;
  color: #dadada;
}
